mixin svgsprite(name)
  svg(class="svgsprite _" + name)&attributes(attributes)
    use(xlink:href="assets/img/sprites/svgsprites.svg#" + name)

mixin link-default(text, link)
  a.btn.--default(href=link)=text
mixin link-default-hidden(text, link)
  a.btn.--default(href=link)=text

mixin link-big(text, link)
  a.btn.--texture.--big(href=link)=text

mixin link-normal(text, link)
  a.btn.--texture.--normal(href=link)=text

mixin btn-big(text)
  button.btn.--texture.--big=text

mixin header(title)
  header.header(fade-in-preloader)
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__title
        h1.h1=title 
      .header__right

mixin header-back(back)
  header.header
    .header__backdrop
      span
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__back
        a.header__back-link(href="")
          .header__back-icon
            span 
              svg(width="14" height="10" viewBox="0 0 14 10" xmlns="http://www.w3.org/2000/svg")
                path(d="M5.53033 8.46967C5.82322 8.76256 5.82322 9.23744 5.53033 9.53033C5.23744 9.82322 4.76256 9.82322 4.46967 9.53033L5.53033 8.46967ZM1 5L0.469671 5.53033C0.176777 5.23744 0.176777 4.76256 0.469671 4.46967L1 5ZM4.46967 0.469671C4.76256 0.176778 5.23744 0.176778 5.53033 0.469671C5.82322 0.762564 5.82322 1.23744 5.53033 1.53033L4.46967 0.469671ZM13 4.25C13.4142 4.25 13.75 4.58579 13.75 5C13.75 5.41421 13.4142 5.75 13 5.75L13 4.25ZM4.46967 9.53033L0.469671 5.53033L1.53033 4.46967L5.53033 8.46967L4.46967 9.53033ZM0.469671 4.46967L4.46967 0.469671L5.53033 1.53033L1.53033 5.53033L0.469671 4.46967ZM1 4.25C2 4.25 5 4.25 7.75 4.25C9.125 4.25 10.4375 4.25 11.4062 4.25C11.8906 4.25 12.2891 4.25 12.5664 4.25C12.7051 4.25 12.8135 4.25 12.8872 4.25C12.9241 4.25 12.9523 4.25 12.9713 4.25C12.9807 4.25 12.9879 4.25 12.9927 4.25C12.9951 4.25 12.997 4.25 12.9982 4.25C12.9988 4.25 12.9992 4.25 12.9995 4.25C12.9997 4.25 12.9998 4.25 12.9999 4.25C13 4.25 13 4.25 13 5C13 5.75 13 5.75 12.9999 5.75C12.9998 5.75 12.9997 5.75 12.9995 5.75C12.9993 5.75 12.9988 5.75 12.9982 5.75C12.997 5.75 12.9951 5.75 12.9927 5.75C12.9879 5.75 12.9808 5.75 12.9713 5.75C12.9523 5.75 12.9241 5.75 12.8872 5.75C12.8135 5.75 12.7051 5.75 12.5664 5.75C12.2891 5.75 11.8906 5.75 11.4062 5.75C10.4375 5.75 9.125 5.75 7.75 5.75C5 5.75 2 5.75 1 5.75L1 4.25Z")
          .header__back-circle
            svg(width="3" height="2" viewBox="0 0 3 2" xmlns="http://www.w3.org/2000/svg")
              circle(r="0.75" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 1.4502 0.951172)")
          span.header__back-text=back

      .header__right
        .header__profile.header-profile
          a(href="").header-profile__button
            .header-profile__avatar
              img(src="./assets/img/avatar.png", alt="")
            .header-profile__content
              .header-profile__name Игорь Тимофеев
              .header-profile__info
                .header-profile__rating #7 в рейтинге
                .header-profile__points 0 баллов

mixin header-task(title)
  header.header
    .header__backdrop
      span
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__title
        h1.h1=title 
      .header__right
        button.header__btn.header__button-out.btn.--default#button-artifact-parts-exit Выйти из задания

mixin header-task-2(title)
  header.header
    .header__backdrop
      span
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__title
        h1.h1=title 
      .header__right
        button.header__btn.header__button-out.btn.--default#button-questions-game-exit Выйти из задания

mixin header-task-complete(title)
  header.header
    .header__backdrop
      span
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__title
        h1.h1=title 
      .header__right
        button.header__btn.header__button-out.btn.--default.is-hidden#button-artifact-parts-exit Выйти из задания

mixin header-task-complete-2(title)
  header.header
    .header__backdrop
      span
    .container.--flex.--jcsb
      a.header__logo(href="index.html") 
        img(src="./assets/img/header/logo.svg", alt="")
      .header__title
        h1.h1=title 
      .header__right
        button.header__btn.header__button-out.btn.--default.is-hidden#button-questions-game-exit Выйти из задания